/*
pagina = 970px

*/
html{
    font-family: Arial, sans-serif;
}

body{
    color: #888;
}

.logo{
    width: 23%;
    padding-top: 4.13%;
    padding-bottom: 4.13%;
}

.area-pesquisa{
    /*min-height: 100px;*/
    min-width: 100%;
    background-color: #00aeff;
}

.campos-de-pesquisa{
    padding-top: 2.5%;
    padding-bottom: 2%;
}

.pesquisa{

}

#titulo-pesquisa{
    font-size: 3.4em;
    color: #fff;
}

.input-pesquisa{
    height: 6%;
    width: 96%;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 2.5em;
    margin-left: 2%;
}

.pesquisa > form > input[type=submit]{
    border: none;
    background: none;
    background: url("../img/icone-pesquisa.png") no-repeat;
    background-size: 100%;
    margin-top: 0.5%;
    margin-left: -10%;
    padding-top: 4.7%;
    padding-left: 8%;
    position: absolute;

}

.area-alfabeto{
    min-height: 4.22%;
    width: 100%;
    background-color: #0ca7ef;
}

.alfabeto{
    margin-top: 0.72em;
    margin-bottom: 0.72em;
    color: #fff;
    font-size: 1.28em;
    text-align: center;
}

.alfabeto li{
    padding-left: 0.4em;
}

.alfabeto a:link,
.alfabeto a:hover,
.alfabeto a:active,
.alfabeto a:visited{
    color: #fff;
}


.busca-rapida{

}

.categoria{

}

@media (min-width: 992px) {
    .col-md-2-5 {
        float: left;
    }
}
.col-md-2-5{
    width: 22%;
}



.lista-titulo{
    padding-top: 0.51em;
    font-weight: bold;
    margin-left: 3.91em;
    position: absolute;
}

.lista-categorias > li{
    margin-left: 3.91em;
}

@media screen and (min-width: 992px){
    .lista-titulo{
        color: #888888;
    }

    .lista-categorias{
        color: #989898;
    }
}


.icones{
    background: url('../img/icones.png') no-repeat;
    background-size: 1600%;
    width: 33px;
    height: 33px;
}


.icones-restaurantes{
    background-position: 0 0;
}

.icones-locais{
    background-position: -34px 0;
}

.icones-beleza{
    background-position: -68px 0;
}

.icones-lojas{
    background-position: -102px 0;
}

.icones-servicos{
    background-position: -137px 0;
}

.icones-saude{
    background-position: -171px 0;
}

.icones-hoteis{
    background-position: -206px 0;
}

.icones-automoveis{
    background-position: -240px 0;
}

.icones-educacao{
    background-position: -274px 0;
}

.icones-informatica{
    background-position: -308px 0;
}

.icones-publico{
    background-position: -342px 0;
}

.icones-outros{
    background-position: -376px 0;
}


.novo-contato{
    width: 100%;
    background-color: #00aeff;
}

.novo{
    color: #fff;
    font-size: 1.71em;
    text-decoration: underline;
    padding-top: 3%;
    padding-bottom: 3%;
}




@media screen and (max-width: 768px) {
    body{
        font-size:12px;
    }

    hr{
        display: none;
    }

    .logo{
        width: 50%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .categoria{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        color: #080808;
        font-size: 1.3em;
        border-left: solid 0.34em;
    }

    .lista-categorias{
        width: 400%;
    }

    .lista-categorias li{
        padding-top: 0.3em;
    }

    .categoria-restaurante,
    .categoria-beleza,
    .categoria-servicos,
    .categoria-hoteis,
    .categoria-educacao,
    .categoria-publico{
        background-color: #f5f5f5;
    }

    .categoria-locais,
    .categoria-lojas,
    .categoria-saude,
    .categoria-automoveis,
    .categoria-informatica,
    .categoria-outros{
        background-color: #fff;
    }

    .categoria-restaurante{
        border-color: #33a7d8;
    }

    .categoria-locais{
        border-color: #a3fd39;
    }

    .categoria-beleza{
        border-color: #fff533;
    }

    .categoria-lojas{
        border-color: #f9a54b;
    }

    .categoria-servicos{
        border-color: #f04950;
    }

    .categoria-saude{
        border-color: #e966ac;
    }

    .categoria-hoteis{
        border-color: #b868ad;
    }

    .categoria-automoveis{
        border-color: #8869ad;
    }

    .categoria-educacao{
        border-color: #3276b5;
    }

    .categoria-informatica{
        border-color: #00a88f;
    }

    .categoria-publico{
        border-color: #f37020;
    }

    .categoria-outros{
        border-color: #6b439b;
    }


}